{%  extends "PaginaApp/index.html" %}

{%load static %}

{% block content %}

    <!-- Testimonial Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Escuelas de la Facultad de Ingeniería</h5>
                <h1 class="mb-0"> Carreras que exigen:

                    Habilidad numérica y verbal, constancia y disciplina, y una sólida formación en matemática, física y química</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.6s">
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="../static/img/civ.jpg" style="width: 60px; height: 60px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">Escuela de Ingeniería Civil</h4>
                            <small class="text-uppercase">Licenciatura</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        Estudios y preparación de proyectos de infraestructura física,consultoría y asesoramiento técnico para empresas de la construcción
                    </div>
                </div>
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="../static/img/elec.jpg" style="width: 60px; height: 60px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">Escuela de Ingeniería Mecánica Eléctrica</h4>
                            <small class="text-uppercase">Licenciatura</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        Planificación, organización, supervisión y ejecución de proyectos de generación, transmisión, transformación y distribución de energía eléctrica.
                    </div>
                </div>
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="../static/img/qum.jpg" style="width: 60px; height: 60px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">Escuela de Ingeniería Química</h4>
                            <small class="text-uppercase">Licenciatura</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        Planificación, organización, supervisión y ejecución del montaje y mantenimiento de maquinaria, equipos y sistemas mecánicos eléctricos en general.
                    </div>
                </div>
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="../static/img/sis.jpeg" style="width: 60px; height: 60px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">Escuela de Ingeniería Ciencias y Sistemas</h4>
                            <small class="text-uppercase">Licenciatura</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        Desarrollo y puesta en marcha de sistemas operativos, redes de computadoras, arquitectura de computadores, teorización de compiladores, complejidad de algoritmos e inteligencia artificial.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    {% endblock %}
   